<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include templates/header.ejs %>

<a href='/'> Home Page</a>

<h2><%= data%></h2>


</body>
</html>
